* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart {
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 250px;
  border-radius: 3px;
  box-shadow: 2px 3px 16px -5px rgba(0, 0, 0, 0.75);
  position: absolute;
  animation: animacion-cart 2s forwards;
}

.cart img {
  width: 70px;
  margin-top: 20px;
  margin-left: 150px;
  animation: animacion-img 1s alternate infinite;
}

.cart h1 {
  font-size: 16px;
}

.cart p {
  font-size: 12px;
  margin-top: 5px;
  color: gray;
  text-align: left;
}

@keyframes animacion-cart {
  from {
    opacity: 0;
    bottom: 200px;
    border-top: 3px solid transparent;
  }

  to {
    opacity: 1;
    bottom: 270px;
    border-top: 3px solid rgb(66, 143, 220);
  }
}

@keyframes animacion-img {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}